.header {
}
.header h1 {
}
.logo {
  position: fixed;
  background: url(../../content/assets/logo.svg) no-repeat;
  background-size: contain;
  background-position: center top;
  
 }
.logo, .logo a {
  display: block;
  top: 40px;
  left: 40px;
  width: 80px;
  height: 100px;
}
