@font-face {
  font-family: GTAme;
  src: url('../../content/assets/GTAme.ttf');
}
body {
  background-color: #1A1A1A; 
}
.blogpost {
  margin-bottom: 4rem;
}
.meta {
  font-family: Inconsolata;
  list-style: none;
  margin-left: 0;
}
.meta li {
    display: inline-block;
    margin: 0 1rem 0 0;
}
.postNav {
  margin: 5rem 0 0 0;
}
footer p {
  font-family: inconsolata, monospaced;
  color: #FFDA18;
  padding-top: 2rem;
}
footer a {
  color: #FFDA18;
  border-color:#9B8527;
}
footer a:hover {
  border-color: #FFDA18;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
  .blogpost {
    margin-bottom: 2rem;
  }
}
